<header id="primary_header">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-7">
                <button class="button_reset" id="open_menu"><img src="~/media/icon_menu.svg" alt="menu"
                        class="img-fluid"></button>
                <a class="logo" href="#"><img src="~/media/logo.svg" alt="Dream Spins Casino"
                        class="img-fluid ml-0"></a>
            </div>
            <div class="col-5 text-end">
                <button class="button_reset search ms-md-1"><img src="~/media/icon_search.svg" alt="search"></button>
                <button class="button_reset promotions ms-md-1"><img src="~/media/icon_gift.svg" alt="promo"></button>
                <a href="#" class="btn_primary btn_white ms-md-1 d-none d-md-inline">SIGN UP</a>
                <a href="#" class="text_link_white ms-md-1">LOG IN</a>
            </div>
        </div>
    </div>
</header>
<div class="gradient_border"></div>

<div class="quick_menu">
    <div class="container">
        <div class="row">
            <div class="col-12 quick_links">

                <a href="#" class="quick_link"><img src="~/media/icon_new.svg" alt="new" class="me-1"> New</a>
                <a href="#" class="quick_link"><img src="~/media/icon_popular.svg" alt="popular"
                        class="me-1">popular</a>
                <a href="#" class="quick_link"><img src="~/media/icon_seven.svg" alt="seven" class="me-1">Jackpot</a>
                <a href="#" class="quick_link"><img src="~/media/icon_slots.svg" alt="slots" class="me-1">slots</a>
                <a href="#" class="quick_link"><img src="~/media/icon_live.svg" alt="live" class="me-1">live casino</a>
                <a href="#" class="quick_link"><img src="~/media/icon_cards.svg" alt="cards" class="me-1">Table
                    Games</a>
                <a href="#" class="quick_link"><img src="~/media/icon_redtiger.svg" alt="redtiger" class="me-1">Red
                    Tiger</a>
                <a href="#" class="quick_link"><img src="~/media/icon_scratch.svg" alt="cards" class="me-1">Scratch
                    cards</a>
                <a href="#" class="quick_link"><img src="~/media/icon_megaways.svg" alt="megaways"
                        class="me-1">megaways</a>
                <a href="#" class="quick_link"><img src="~/media/icon_freeplay.svg" alt="freeplay"
                        class="me-1">freeplay</a>
                <a href="#" class="quick_link"><img src="~/media/icon_game.svg" alt="game" class="me-1">game
                    provider</a>

            </div>
        </div>
    </div>
</div>

<div class="offcanvas_menu">

    <div class="menu_tier_one">

        <div class="p-2">
            <h3 class="text_dark"><img src="~/media/icon_user.svg" class="me-1"> Welcome, Guest</h3>

            <a href="#" class="btn_blue_gradient">SIGN Up</a>
            <a href="#" class="btn_chat">chat to us <img src="~/media/icon_chat.svg"></a>

            <div class="border_grey"></div>
        </div>

        <div class="menu">
            <div class="menu_item">
                <a href="#">
                    <div class="icon_wrapper"><img src="~/media/icon_user.svg"></div> <span>MY
                        ACCOUNT</span>
                </a>
            </div>

            <div class="menu_item mt-2">
                <a href="#" class="show_submenu" data-menu="games_submenu">
                    <div class="icon_wrapper"><img src="~/media/icon_games.svg"></div> <span>
                        GAMES <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.46094 1.47412L5.83094 5.84412" stroke="white" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M1.46094 10.2142L5.83094 5.84424" stroke="white" stroke-width="2"
                                stroke-linecap="round" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="menu_item mt-2">
                <a href="#">
                    <div class="icon_wrapper"><img src="~/media/icon_promotions.svg"></div>
                    <span>promotions</span>
                </a>
            </div>

            <div class="menu_item mt-2">
                <a href="#">
                    <div class="icon_wrapper"><img src="~/media/icon_loyal.svg"></div> <span>Loyalty</span>
                </a>
            </div>
        </div>

        <div class="menu mt-5">
            <div class="menu_item mt-2">
                <a href="#">
                    <div class="icon_wrapper"><img src="~/media/icon_banking.svg"></div>
                    <span>banking</span>
                </a>
            </div>
            <div class="menu_item mt-2">
                <a href="#">
                    <div class="icon_wrapper"><img src="~/media/icon_about.svg"></div>
                    <span>about</span>
                </a>
            </div>
            <div class="menu_item mt-2">
                <a href="#">
                    <div class="icon_wrapper"><img src="~/media/icon_support.svg"></div>
                    <span>support</span>
                </a>
            </div>
            <div class="menu_item mt-2">
                <a href="#" class="show_submenu" data-menu="language_submenu">
                    <div class="icon_wrapper"><img src="~/media/icon_lang.svg"></div>
                    <span>language <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.46094 1.47412L5.83094 5.84412" stroke="white" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M1.46094 10.2142L5.83094 5.84424" stroke="white" stroke-width="2"
                                stroke-linecap="round" />
                        </svg></span>
                </a>
            </div>
        </div>

    </div>

    <div class="menu_tier_two" id="games_submenu">
        <div class="close"><img src="~/media/icon_close.svg" alt="new" class="close_menu"></div>
        <a href="#" class="btn_primary_small btn_white mt-4">ALL GAMES</a>
        <a href="#" class="quick_link border_top mt-3"><img src="~/media/icon_popular.svg" alt="popular"
                class="me-1">popular</a>
        <a href="#" class="quick_link"><img src="~/media/icon_new.svg" alt="new" class="me-1"> New</a>
        <a href="#" class="quick_link"><img src="~/media/icon_seven.svg" alt="seven" class="me-1">Jackpot</a>
        <a href="#" class="quick_link"><img src="~/media/icon_slots.svg" alt="slots" class="me-1">slots</a>
        <a href="#" class="quick_link"><img src="~/media/icon_live.svg" alt="live" class="me-1">live casino</a>
        <a href="#" class="quick_link"><img src="~/media/icon_cards.svg" alt="cards" class="me-1">Table
            Games</a>
        <a href="#" class="quick_link"><img src="~/media/icon_redtiger.svg" alt="redtiger" class="me-1">Red
            Tiger</a>
        <a href="#" class="quick_link"><img src="~/media/icon_scratch.svg" alt="cards" class="me-1">Scratch
            cards</a>
        <a href="#" class="quick_link"><img src="~/media/icon_megaways.svg" alt="megaways" class="me-1">megaways</a>


    </div>

</div>