@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="homepage-content">

    <section class="hero">


        <div class="container pt-5 z_99">
            <div class="row">
                <div class="col-12 col-md-7 order-last order-md-first text-center text-md-start">
                    <div class="gradient_accent"></div>
                    <h2 class="text-white">100% UP TO</h2>
                    <h2 class="text-white">€800 + 375 SPINS</h2>
                    <h5>ON BOOK OF DEAD</h5>
                    <a href="#" class="btn_primary_large btn_yellow">SIGN UP</a>
                </div>
                <div class="col-12 col-md-5 order-1 order-md-last pt-4 pt-md-0">
                    <img src="~/media/home_hero_001.png" class="img-fluid">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="row d-none d-md-flex">
                        <div class="col-12 col-md-6 text-end">
                            <div class="offer_card">
                                <a href="#"><span class="title">Offer 1</span> <span class="content">100% UP TO €800 +
                                        375 SPINS</span></a>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 text-start">
                            <div class="offer_card">
                                <a href="#"><span class="title">Offer 1</span> <span class="content">100% UP TO €800 +
                                        375 SPINS</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col-12">
                        <a href="#" class="terms_link">18+, Please Play Responsibly, Full Terms Apply,
                            GamblingTherapy.org</a>
                    </div>
                </div>
            </div>
        </div>

        <img src="~/media/home_cloud.png" class="cloud_accent d-none d-md-block z_9">

        <div class="container mt-5 pb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12">
                            <div class="search_bar">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="search_container d-flex align-items-center">
                                            <img src="~/media/icon_search.svg">
                                            <input type="text" class="search_field" placeholder="Find your game">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex align-items-center">
                                        <div class="custom-select">
                                            <div class="select-selected">
                                                <img src="~/media/icon_filter.svg" class="me-2" alt="Filter Icon">
                                                <span>All game providers</span>
                                                <img src="~/media/chevron_down.svg" class="c_down" alt="Chevron Icon">
                                            </div>
                                            <div class="select-items select-hide">
                                                <div data-value="option1">Option 1</div>
                                                <div data-value="option2">Option 2</div>
                                                <div data-value="option3">Option 3</div>
                                                <div data-value="option4">Option 4</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="quick_buttons">
                                <a href="#" class="quick_link"><img src="~/media/icon_popular.svg" alt="popular"
                                        class="me-1">popular</a>
                                <a href="#" class="quick_link"><img src="~/media/icon_new.svg" alt="new" class="me-1">
                                    New</a>
                                <a href="#" class="quick_link"><img src="~/media/icon_seven.svg" alt="seven"
                                        class="me-1">Jackpot</a>
                                <a href="#" class="quick_link"><img src="~/media/icon_slots.svg" alt="slots"
                                        class="me-1">slots</a>
                                <a href="#" class="quick_link"><img src="~/media/icon_live.svg" alt="live"
                                        class="me-1">live
                                    casino</a>
                                <a href="#" class="quick_link"><img src="~/media/icon_cards.svg" alt="cards"
                                        class="me-1">Table
                                    Games</a>
                                <a href="#" class="quick_link"><img src="~/media/icon_megaways.svg" alt="megaways"
                                        class="me-1">megaways</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


</div>